:host {
  display: contents;
}

.album-container {
  min-height: 100vh;
  background-image: url('/assets/playground_assets/bg.png');
}

.album-album {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
  // background-color: rgba(229, 229, 229, 1);
  background-image: url('/assets/playground_assets/bg.png');
}

.album-top {
  display: flex;
  padding: 0 15px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
  justify-content: space-between;
  background-color: rgba(38, 195, 234, 1);
}

.album-cteen-logo {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}


.chabad-colel-logo {
  top: 0px;
  left: 15px;
  width: 50px;
  height: 30px;
  // rotate: 45;
  position: relative;
  // transform: rotate(-45deg);
}
.ahavat-eliyau-logo {
  top: 0px;
  left: 0px;
  width: 80px;
  height: 30px;
  position: relative;
  // transform: rotate(-45deg);
}


.chabad-get-chessed-logo {
  top: 0px;
  left: 80px;
  width: 50px;
  height: 50px;
  position: absolute;
}
.album-logo {
  width: 63.48833084106445px;
  height: 100.27965545654297px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}

.album-cteen {
  width: 63px;
  height: 89.90325164794922px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: -5px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.album-carea {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 67px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.album-cbg {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 67px;
  position: absolute;
}

.album-c {
  top: 7.59393310546875px;
  left: 10.354217529296875px;
  width: 39px;
  height: 54px;
  position: absolute;
}

.album-teenarea {
  top: 59.2852783203125px;
  left: 12.77813720703125px;
  width: 50.7101936340332px;
  height: 30.61797332763672px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.album-teenbg {
  top: 0px;
  left: 0px;
  width: 51px;
  height: 31px;
  position: absolute;
}

.album-teen {
  top: 6.6272125244140625px;
  left: 5.747833251953125px;
  width: 39.34962463378906px;
  height: 20.21885108947754px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.album-vector {
  top: 1.5709927082061768px;
  left: 0.0000010694303682612372px;
  width: 8px;
  height: 19px;
  position: absolute;
}

.album-vector1 {
  top: 3.201730728149414px;
  left: 6.565080165863037px;
  width: 11px;
  height: 16px;
  position: absolute;
}

.album-vector2 {
  top: 1.6084747314453125px;
  left: 17.249292373657227px;
  width: 11px;
  height: 16px;
  position: absolute;
}

.album-vector3 {
  top: -3.8355906895048975e-8px;
  left: 27.523208618164062px;
  width: 12px;
  height: 16px;
  position: absolute;
}

.album-amutaname {
  width: 59.34217071533203px;
  height: 6.678433418273926px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: flex-end;
}

.album-frame3 {
  width: 20px;
  height: 7px;
  position: relative;
  margin-right: 2px;
}

.album-frame2 {
  width: 21px;
  height: 7px;
  position: relative;
  margin-right: 2px;
}

.album-frame1 {
  width: 15px;
  height: 6px;
  position: relative;
}

.album-userinfo {
  display: flex;
  position: relative;
  align-items: flex-end;
  border-color: transparent;
  flex-direction: column;
}

.album-text {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Black;
  text-align: right;
  font-family: Heebo;
  font-weight: 900;
  line-height: 107.87500143051147%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 6px;
  text-decoration: none;
}

.album-location {
  display: flex;
  padding: 2px 4px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(227, 172, 120, 1);
}

.album-text02 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: right;
  font-family: Heebo;
  font-weight: 500;
  line-height: 107.87500143051147%;
  font-stretch: normal;
  margin-right: 6px;
  margin-bottom: 0;
  text-decoration: none;
}

.album-locationicon {
  width: 11px;
  height: 14px;
  position: relative;
}

.album-nav {
  display: flex;
  padding: 8px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
  justify-content: space-between;
  background-color: rgba(227, 172, 120, 1);
}

.album-upload {
  width: 30px;
  height: 30px;
  position: relative;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.album-text04 {
  color: rgba(255, 255, 255, 1);
  width: 100%;
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Black;
  text-align: center;
  font-family: Heebo;
  font-weight: 900;
  line-height: 107.87500143051147%;
  font-stretch: normal;
  text-decoration: none;
}

.album-back {
  width: 30px;
  height: 30px;
  position: relative;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.album-cards {
  display: flex;
  padding: 20px 40px;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
  gap: 7px;
}

.album-crad {
  display: flex;
  padding: 10px;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  // align-items: center;
  border-color: transparent;
  border-radius: 15px;
  flex-direction: column;
  justify-content: center;
  // gap: 1px;
  // background-color: rgba(255, 255, 255, 1);
  // background-image: url('/assets/playground_assets/bg.png');
  // background-image: url('/assets/playground_assets/bg.blue.png');
}

.album-text06 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 22px;
  align-self: auto;
  font-style: Black;
  text-align: left;
  font-family: Heebo;
  font-weight: 900;
  line-height: 107.87500143051147%;
  font-stretch: normal;
  text-decoration: none;
}

.album-text08 {
  color: rgba(255, 255, 255, 1);
  width: 100%;
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Black;
  text-align: right;
  font-family: Heebo;
  font-weight: 900;
  font-stretch: normal;
  text-decoration: none;
  vertical-align: middle;
}


.album-text080 {
  width: 100%;
  // flex-wrap: nowrap;
  color: rgba(255, 255, 255, 1);
  // width: 127px;
  height: auto;
  font-size: 12px;
  font-style: Black;
  text-align: left;
  font-family: Heebo;
  // font-weight: 900;
  font-stretch: normal;
  text-decoration: none;
}

.album-mediacontainer {
  display: flex;
  padding: 0px 10px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(227, 172, 120, 1);
  border-style: solid;
  border-width: 7px;
  border-radius: 15px;
  justify-content: center;
  background-color: rgba(227, 172, 120, 0.20000000298023224);
}

.album-media {
  display: flex;
  padding: 10px;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  box-sizing: content-box;
  align-items: center;
  border-color: transparent;
  border-radius: 15px;
  justify-content: center;
}

.album-actions {
  height: 62px;
  display: flex;
  padding: 0 50px;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}

.album-group3 {
  width: 151px;
  height: 52px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.album-rectangle1 {
  top: 0px;
  left: 0px;
  width: 151px;
  height: 52px;
  position: absolute;
  // box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
}

.album-text10 {
  top: 16px;
  left: 59px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: center;
  font-family: Heebo;
  font-weight: 800;
  line-height: 107.87500143051147%;
  font-stretch: normal;
  text-decoration: none;
}

.album-title-week {
  display: flex;
  padding: 8px 5px;
  position: relative;
  align-self: stretch;
  align-items: center;
  vertical-align: middle;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 15px;
  // margin-bottom: 10px;
  justify-content: space-between;
  background-color: rgba(35, 194, 233, 1);
}

.album-title-branch {
  display: flex;
  padding: 2px 2px;
  position: relative;
  align-self: stretch;
  align-items: center;
  vertical-align: middle;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 15px;
  // margin-bottom: 10px;
  justify-content: space-between;
  background-color: rgba(227, 172, 120, 1);
}


ul {
  list-style: none;
}

/* Responsive image gallery rules begin*/

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 7px;
  direction: rtl;
}

.image-gallery>li {
  flex: 1 1 100px;
  /* or flex: auto; */
  height: 100px;
  cursor: pointer;
  position: relative;
}

.image-gallery::after {
  content: "";
  flex-grow: 999;
}

.image-gallery li img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border-radius: 5px;
}

.image-gallery li video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border-radius: 5px;
}

.overlay {
  // position: fixed;
  // width: 100%;
  // height: 100%;
  background: rgba(57, 57, 57, 0.502);
  // top: 0;
  // left: 0;
  // bottom: 0;
  // right: 0;
  transform: scale(0);
  transition: all 0.2s 0.1s ease-in-out;
  color: #fff;
  border-radius: 5px;
  /* center overlay content */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.overlay-options {
  display: flex;
  flex-direction: row;
  // justify-content: flex-end;
  position: absolute;
  width: 24px;
  height: 24px;
  left:calc(50% - 12px);
  top:calc(50% - 12px);
  color: white;
  border-color: black;
  border-width: 5px;
  // top: 0;
  // left: 0;
  height: auto;
}
.overlay-date {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: absolute;
  color: rgba(227, 172, 120, 1);
  // border-color: black;
  // border-width: 5px;
  bottom: -6px;
  left: 2px;
  height: auto;
  // z-index: 7;
  font-size: xx-small;
}

/* hover */
.image-gallery li:hover .overlay {
  transform: scale(1);
}

// ul {
//   list-style: none;
// }

// /* Responsive image gallery rules begin*/

// .image-gallery {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   gap: 10px;
//   /* don't add a fixed height */
//   // height: 100vh;
// }

// .image-gallery>li {
//   flex-basis: 350px;
//   /*width: 350px;*/
//   position: relative;
//   cursor: pointer;
// }

// .image-gallery::after {
//   content: "";
//   flex-basis: 350px;
// }

// .image-gallery li img {
//   object-fit: cover;
//   max-width: 100%;
//   height: auto;
//   vertical-align: middle;
//   border-radius: 5px;
// }

// .overlay {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   background: rgba(57, 57, 57, 0.502);
//   top: 0;
//   left: 0;
//   transform: scale(0);
//   transition: all 0.2s 0.1s ease-in-out;
//   color: #fff;
//   border-radius: 5px;
//   /* center overlay text */
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// /* hover */
// .image-gallery li:hover .overlay {
//   transform: scale(1);
// }

// .image-gallery {
//   display: flex;
//   flex-wrap: wrap;
//   gap: 10px;
// }

// .image-gallery>li {
//   height: 300px;
//   cursor: pointer;
//   position: relative;
// }

// .image-photo{
//   width: auto;
// }

// .image-photo li image-photo img {
//   object-fit: cover;
//   width: 100%;
//   height: 100%;
//   vertical-align: middle;
//   border-radius: 5px;
// }

// .card {
//     border-radius: 20px;
//     // border-width: 5px;
//     // border-spacing: 5px;
//     border-style: dashed;
//     box-shadow: rgba(38, 195, 234, 1);
//     // padding: 20px;
//     text-align: end;
// }

// .media {
//     border-radius: 15px;
//     // padding: 10px;
// }

// .media-container{
//     padding: 10px;
// }

// .title{
//     padding-right: 10px;
// }