<div class="frame-container">
  <div class="frame-frame">
    <img src="/assets/playground_assets/blueback1710-8m17-400w.png" alt="BlueBack1710" class="frame-blue-back" />
    <img src="/assets/playground_assets/getpattern1711-0ev5-400w.png" alt="GetPattern1711" class="frame-get-pattern" />
    <img src="/assets/playground_assets/rectangle31712-qaf-500w.png" alt="Rectangle31712" class="frame-rectangle3" />
    <div class="frame-frame1"></div>
    <img src="/assets/playground_assets/rectangle51714-514j.svg" alt="Rectangle51714" class="frame-rectangle5" />
    <img src="/assets/playground_assets/rectangle91716-wkab.svg" alt="Rectangle91716" class="frame-rectangle9" />
    <img src="/assets/playground_assets/rectangle101717-ztf8p.svg" alt="Rectangle101717" class="frame-rectangle10" />
    <span class="frame-text"><span> {{ remult.user?.name }} </span></span>
    <span class="frame-text02"><span>היום שהיה לך</span></span>
    <div>
      <img src="/assets/playground_assets/location1722-oo9.svg" alt="location1722" class="frame-location" />
      <span class="frame-text04"><span> {{ remult.user?.isAdmin?'':remult.user?.isDonor?'':'ראש כולל' }} {{
          remult.user?.branchName?.replace('כולל','') }} </span></span>
    </div>
    <!-- <img
        src="/assets/playground_assets/frame1724-4bvm.svg"
        alt="Frame1724"
        class="frame-frame2"
      /> -->
    <!-- <div class="frame-frame3" (click)="this.rootmenu()">
        <div class="frame-group7">
          <div class="frame-group">
            <img
              src="/assets/playground_assets/vector1730-cm2x.svg"
              alt="Vector1730"
              class="frame-vector"
            />
            <img
              src="/assets/playground_assets/vector1731-dcwq.svg"
              alt="Vector1731"
              class="frame-vector01"
            />
            <img
              src="/assets/playground_assets/vector1732-w932w.svg"
              alt="Vector1732"
              class="frame-vector02"
            />
            <div class="frame-group1">
              <img
                src="/assets/playground_assets/vector1734-86l.svg"
                alt="Vector1734"
                class="frame-vector03"
              />
              <img
                src="/assets/playground_assets/vector1735-izh.svg"
                alt="Vector1735"
                class="frame-vector04"
              />
              <img
                src="/assets/playground_assets/vector1736-od46.svg"
                alt="Vector1736"
                class="frame-vector05"
              />
              <img
                src="/assets/playground_assets/vector1737-cbek.svg"
                alt="Vector1737"
                class="frame-vector06"
              />
            </div>
          </div>
          <div class="frame-group2">
            <img
              src="/assets/playground_assets/vector1739-lmgr.svg"
              alt="Vector1739"
              class="frame-vector07"
            />
            <img
              src="/assets/playground_assets/vector1740-xakj.svg"
              alt="Vector1740"
              class="frame-vector08"
            />
            <img
              src="/assets/playground_assets/vector1741-laq.svg"
              alt="Vector1741"
              class="frame-vector09"
            />
            <img
              src="/assets/playground_assets/vector1742-dfgor.svg"
              alt="Vector1742"
              class="frame-vector10"
            />
            <img
              src="/assets/playground_assets/vector1743-aact.svg"
              alt="Vector1743"
              class="frame-vector11"
            />
            <img
              src="/assets/playground_assets/vector1744-a2mo.svg"
              alt="Vector1744"
              class="frame-vector12"
            />
            <img
              src="/assets/playground_assets/vector1745-38ob.svg"
              alt="Vector1745"
              class="frame-vector13"
            />
            <img
              src="/assets/playground_assets/vector1746-j3.svg"
              alt="Vector1746"
              class="frame-vector14"
            />
            <img
              src="/assets/playground_assets/vector1747-4ugn3.svg"
              alt="Vector1747"
              class="frame-vector15"
            />
            <img
              src="/assets/playground_assets/vector1748-4vn.svg"
              alt="Vector1748"
              class="frame-vector16"
            />
            <img
              src="/assets/playground_assets/vector1749-4m2.svg"
              alt="Vector1749"
              class="frame-vector17"
            />
            <img
              src="/assets/playground_assets/vector1750-fv1b9.svg"
              alt="Vector1750"
              class="frame-vector18"
            />
            <img
              src="/assets/playground_assets/vector1751-rz0a.svg"
              alt="Vector1751"
              class="frame-vector19"
            />
            <img
              src="/assets/playground_assets/vector1752-lkj9.svg"
              alt="Vector1752"
              class="frame-vector20"
            />
          </div>
        </div>
      </div> -->
      <div style="display: flex; flex-direction: column;" (click)="this.rootmenu()">
        <div>
          <img src="/assets/Logo Colel Chabad.png" alt="Frame14430" class="chabad-colel-logo" />
          <!-- <img src="/assets/playground_assets/chabadLogo.svg" alt="Frame14430" class="chabad-get-chessed-logo" /> -->
        </div>
        <div>
          <img src="/assets/logo.ahavat.eliyau.svg" alt="Frame14430" class="ahavat-eliyau-logo" />
        </div>
      </div>
    <div class="frame-group3" (click)="this.ok()">
      <img src="/assets/playground_assets/rectangle11754-40re.svg" alt="Rectangle11754" class="frame-rectangle1" />
      <span class="frame-text06"><span>אישור</span></span>
    </div>
    <div class="frame-group11">
      <img src="/assets/playground_assets/ellipse11757-du4o-200h.png" alt="Ellipse11757" class="frame-ellipse1" />
      <img src="/assets/playground_assets/image11758-waoqu-200h.png" alt="IMAGE11758" class="frame-i-m-a-g-e1" />
    </div>
    <!-- <div class="frame-group12">
      <img src="/assets/playground_assets/ellipse11760-op3d-200h.png" alt="Ellipse11760" class="frame-ellipse11" />
    </div> -->
    <div class="frame-group13">
      <img src="/assets/playground_assets/ellipse11762-xuph-200h.png" alt="Ellipse11762" class="frame-ellipse12" />
      <!-- <img src="/assets/validated.svg" alt="Ellipse11762" class="frame-validate" /> -->
    </div>
    <div class="frame-group14">
      <img src="/assets/playground_assets/ellipse11764-nsi-200h.png" alt="Ellipse11764" class="frame-ellipse13" />
      <!-- <img src="/assets/validated.svg" alt="Ellipse11762" class="frame-validate" /> -->
    </div>
    <span class="frame-text08"><span>{{ this.query.group.caption }}</span></span>
    <!-- <span class="frame-text10"><span>מסירות</span></span> -->
    <span class="frame-text12"><span>נוכחים</span></span>
    <!-- <img src="/assets/playground_assets/image11768-yy6-200w.png" alt="IMAGE11768" class="frame-i-m-a-g-e11" /> -->
    <span class="frame-text14"><span>דיווחים חסרים</span></span>
    <span class="frame-text16"><span> {{ countSum.tenants }} </span></span>
    <!-- <span class="frame-text18"><span> {{ countSum.delivers }} </span></span> -->
    <span class="frame-text20"> {{ countSum.visits }} </span>
    <span class="frame-text21"> {{ countSum.missings }} </span>
    <!-- cheurho -->
    <img src="/assets/playground_assets/image11774-cue-200h.png" alt="IMAGE11774" class="frame-i-m-a-g-e12" />
    <img src="/assets/playground_assets/line21775-t3ip.svg" alt="Line21775" class="frame-line2" />
  </div>
</div>