<div class="thanks-container">
    <div class="thanks-thanks">
      <div class="thanks-cteen-logo">
        <div class="thanks-frame21">
          <img
            src="/assets/playground_assets/getchessedlogo1022-dqge.svg"
            alt="GetChessedLogo1022"
            class="thanks-get-chessed-logo"
          />
        </div>
      </div>
      <div class="thanks-frame22">
        <img
          src="/assets/playground_assets/clappinghandsemojih1611021-3ppn-200h.png"
          alt="ClappingHandsEmojiH1611021"
          class="thanks-clapping-hands-emoji-h161"
        /> 
      </div>
      <div class="thanks-frame20">
        <span class="thanks-text">!תודה רבה</span>
        <span class="thanks-text1">
          <span>
            <span>תרומתך מוערכת מאוד</span>
            <br />
            <span>לשיבוץ נא לפנות לראש כולל בסניפך</span>
          </span>
        </span>
      </div>
    </div>
  </div>
  