<div class="frame-container">
    <div class="frame-frame">
      <img
        alt="BlueBack1233"
        src="/assets/playground_assets/blueback1233-iyxu-400w.png"
        class="frame-blue-back"
      />
      <img
        alt="GetPattern1234"
        src="/assets/playground_assets/getpattern1234-12n9-400w.png"
        class="frame-get-pattern"
      />
      <img
        alt="Rectangle31235"
        src="/assets/playground_assets/rectangle31235-ky19-200h.png"
        class="frame-rectangle3"
      />
      <!-- <div class="frame-cteen-logo" (click)="this.rootmenu()">
        <div class="frame-group">
          <img
            alt="Vector1238"
            src="/assets/playground_assets/vector1238-okhq.svg"
            class="frame-vector"
          />
          <img
            alt="Vector1239"
            src="/assets/playground_assets/vector1239-tkmj.svg"
            class="frame-vector01"
          />
          <img
            alt="Vector1240"
            src="/assets/playground_assets/vector1240-k9p4.svg"
            class="frame-vector02"
          />
          <div>
            <img
              alt="Vector1242"
              src="/assets/playground_assets/vector1242-nz9.svg"
              class="frame-vector03"
            />
            <img
              alt="Vector1243"
              src="/assets/playground_assets/vector1243-4eni.svg"
              class="frame-vector04"
            />
            <img
              alt="Vector1244"
              src="/assets/playground_assets/vector1244-dad.svg"
              class="frame-vector05"
            />
            <img
              alt="Vector1245"
              src="/assets/playground_assets/vector1245-a3kq.svg"
              class="frame-vector06"
            />
          </div>
        </div>
        <div class="frame-group2">
          <img
            alt="Vector1247"
            src="/assets/playground_assets/vector1247-lj3.svg"
            class="frame-vector07"
          />
          <img
            alt="Vector1248"
            src="/assets/playground_assets/vector1248-y62g.svg"
            class="frame-vector08"
          />
          <img
            alt="Vector1249"
            src="/assets/playground_assets/vector1249-4hy.svg"
            class="frame-vector09"
          />
          <img
            alt="Vector1250"
            src="/assets/playground_assets/vector1250-fx5g.svg"
            class="frame-vector10"
          />
          <img
            alt="Vector1251"
            src="/assets/playground_assets/vector1251-cha7.svg"
            class="frame-vector11"
          />
          <img
            alt="Vector1252"
            src="/assets/playground_assets/vector1252-gwvd.svg"
            class="frame-vector12"
          />
          <img
            alt="Vector1253"
            src="/assets/playground_assets/vector1253-t9u9.svg"
            class="frame-vector13"
          />
          <img
            alt="Vector1254"
            src="/assets/playground_assets/vector1254-ir8.svg"
            class="frame-vector14"
          />
          <img
            alt="Vector1255"
            src="/assets/playground_assets/vector1255-k7q.svg"
            class="frame-vector15"
          />
          <img
            alt="Vector1256"
            src="/assets/playground_assets/vector1256-ltbs.svg"
            class="frame-vector16"
          />
          <img
            alt="Vector1257"
            src="/assets/playground_assets/vector1257-glze.svg"
            class="frame-vector17"
          />
          <img
            alt="Vector1258"
            src="/assets/playground_assets/vector1258-58rj.svg"
            class="frame-vector18"
          />
          <img
            alt="Vector1259"
            src="/assets/playground_assets/vector1259-473i.svg"
            class="frame-vector19"
          />
          <img
            alt="Vector1260"
            src="/assets/playground_assets/vector1260-ktip.svg"
            class="frame-vector20"
          />
        </div>
      </div>
       -->
       <div style="display: flex; flex-direction: column;" (click)="this.rootmenu()">
        <div>
          <img src="/assets/Logo Colel Chabad.png" alt="Frame14430" class="chabad-colel-logo" />
          <!-- <img src="/assets/playground_assets/chabadLogo.svg" alt="Frame14430" class="chabad-get-chessed-logo" /> -->
        </div>
        <div>
          <img src="/assets/logo.ahavat.eliyau.svg" alt="Frame14430" class="ahavat-eliyau-logo" />
        </div>
      </div>
      <span class="frame-text"><span>!תודה רבה</span></span>
      <div class="frame-group3" (click)="this.thanks()">
        <img
          alt="Rectangle11263"
          src="/assets/playground_assets/rectangle11263-gct3.svg"
          class="frame-rectangle1"
        />
        <span class="frame-text02"><span>אישור</span></span>
      </div>
      <span class="frame-text04"><span>מתנדבים:</span></span>
      <span class="frame-text06"><span>הדיווח נקלט בהצלחה</span></span>
      <span class="frame-text08"><span> {{ remult.user?.name }} </span></span>
      <div class="frame-group1">
        <img
          alt="location1270"
          src="/assets/playground_assets/location1270-mfem.svg"
          class="frame-location"
        />
        <span class="frame-text10"><span> {{ remult.user?.isAdmin?'':remult.user?.isDonor?'':'ראש כולל' }} {{ remult.user?.branchName?.replace('כולל','') }} </span></span>
      </div>
      <img (click)="this.back()"
        alt="Frame1272"
        src="/assets/playground_assets/frame1272-fro.svg"
        class="frame-frame1"
      />
      <img
        alt="ClappingHandsEmojiH1611275"
        src="/assets/playground_assets/clappinghandsemojih1611275-0jzc-300h.png"
        class="frame-clapping-hands-emoji-h161"
      />
    </div>
  </div>
  