:host { 
  display: contents; 
}
.visit-container {
  min-height: 100vh;
  // background-image: url('/assets/bg.orange.png');
}
.visit-visit {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  background-color: rgba(229, 229, 229, 1);
  // background-image: url('/assets/bg.orange.png');
}


.chabad-colel-logo {
  top: 0px;
  left: 15px;
  width: 50px;
  height: 30px;
  // rotate: 45;
  position: relative;
  // transform: rotate(-45deg);
}
.ahavat-eliyau-logo {
  top: 0px;
  left: 0px;
  width: 80px;
  height: 30px;
  position: relative;
  // transform: rotate(-45deg);
}


.mat-icon-small-trim{
  width: 10px; 
  height: 10px; 
  font-size: small;
  color: rgba(227, 172, 120, 1);
  // vertical-align: top;
}
.visit-top {
  display: flex;
  padding: 0 15px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
  justify-content: space-between;
  background-color: rgba(38, 195, 234, 1);
}
.visit-cteen-logo {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.visit-logo {
  width: 63.48833084106445px;
  height: 100.27965545654297px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.visit-cteen {
  width: 63px;
  height: 89.90325164794922px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: -5px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.visit-carea {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 67px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.visit-cbg {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 67px;
  position: absolute;
}
.visit-c {
  top: 7.59393310546875px;
  left: 10.354217529296875px;
  width: 39px;
  height: 54px;
  position: absolute;
}
.visit-teenarea {
  top: 59.2852783203125px;
  left: 12.77813720703125px;
  width: 50.7101936340332px;
  height: 30.61797332763672px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.visit-teenbg {
  top: 0px;
  left: 0px;
  width: 51px;
  height: 31px;
  position: absolute;
}
.visit-teen {
  top: 6.6272125244140625px;
  left: 5.747833251953125px;
  width: 39.34962463378906px;
  height: 20.21885108947754px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.visit-vector {
  top: 1.5709927082061768px;
  left: 0.0000010694303682612372px;
  width: 8px;
  height: 19px;
  position: absolute;
}
.visit-vector1 {
  top: 3.201730728149414px;
  left: 6.565080165863037px;
  width: 11px;
  height: 16px;
  position: absolute;
}
.visit-vector2 {
  top: 1.6084747314453125px;
  left: 17.249292373657227px;
  width: 11px;
  height: 16px;
  position: absolute;
}
.visit-vector3 {
  top: -3.8355906895048975e-8px;
  left: 27.523208618164062px;
  width: 12px;
  height: 16px;
  position: absolute;
}
.visit-amutaname {
  width: 59.34217071533203px;
  height: 6.678433418273926px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: flex-end;
}
.visit-frame3 {
  width: 20px;
  height: 7px;
  position: relative;
  margin-right: 2px;
}
.visit-frame2 {
  width: 21px;
  height: 7px;
  position: relative;
  margin-right: 2px;
}
.visit-frame1 {
  width: 15px;
  height: 6px;
  position: relative;
}
.visit-userinfo {
  display: flex;
  position: relative;
  align-items: flex-end;
  border-color: transparent;
  flex-direction: column;
}
.visit-text {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Black;
  text-align: right;
  font-family: Heebo;
  font-weight: 900;
  line-height: 107.87500143051147%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 6px;
  text-decoration: none;
}
.visit-location {
  display: flex;
  padding: 2px 4px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(227, 172, 120, 1);
}
.visit-text02 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: right;
  font-family: Heebo;
  font-weight: 500;
  line-height: 107.87500143051147%;
  font-stretch: normal;
  margin-right: 6px;
  margin-bottom: 0;
  text-decoration: none;
}
.visit-locationicon {
  width: 11px;
  height: 14px;
  position: relative;
}
.visit-nav {
  height: 100px;
  display: flex;
  padding: 8px 10px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(227, 172, 119, 1);
  // background-color: rgba(255, 255, 255, 0.2); 
  // background-blend-mode: overlay;
  background-image: url('/assets/playground_assets/visit.bg.png') no-repeat;
}
.visit-backarea {
  top: 0;
  right: 0;
  width: auto;
  height: auto;
  position: absolute;
  // box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25) ;
  // margin-bottom: 65px;
}
.visit-upload {
  left: 0;
  width: auto;
  bottom: 0;
  height: auto;
  position: absolute;
  align-self: stretch;
  // box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25) ;
}
.visit-cards {
  display: flex;
  padding: 20px 50px;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
}
.visit-cardcontent {
  display: flex;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.visit-frame14 {
  display: flex;
  padding: 25px 0 0 0;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  // margin-bottom: 10px;
  justify-content: center;
  // gap: 5px;
}
.visit-frame {
  top: -10;
  width: 48px;
  height: 47px;
  position: absolute;
  margin-right: 0px;
  align-content: -10;
}
.visit-frame20 {
  display: flex;
  padding: 0 0 20px 0;
  z-index: 1;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.visit-frame24 {
  display: flex;
  padding: 50px 10px 10px 10px;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  margin-bottom: 0px;
  justify-content: center;
}
.visit-i-m-a-g-e1 {
  width: 137px;
  height: 80px;
  position: relative;
  border-color: transparent;
}
.visit-frame22 {
  width: 65px;
  height: 26px;
  display: flex;
  padding: 10px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 15px;
  justify-content: center;
  background-color: rgba(38, 195, 234, 1);
}
.visit-text04 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  flex-grow: 1;
  font-size: 14px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: center;
  font-family: Heebo;
  font-weight: 800;
  line-height: 107.87500143051147%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.visit-visited {
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  border-color: rgba(38, 195, 234, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 25px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 1);
}
.visit-delivered {
  display: flex;
  position: relative;
  flex-grow: 1;
  // align-self: stretch;
  // box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  border-color: rgba(38, 195, 234, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 1);
}
.visit-frame1 {
  top: -10;
  left: -10;
  width: 47px;
  height: 47px;
  position: absolute;
  margin-right: 0px;
}
.visit-frame201 {
  display: flex;
  padding: 0 0 20px 0;
  z-index: 1;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.visit-frame241 {
  display: flex;
  padding: 10px;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  margin-bottom: 0px;
  justify-content: center;
}
.visit-late {
  top: 30px;
  width: 137px;
  height: 117px;
  position: relative;
  border-color: transparent;
}
.visit-frame221 {
  width: 65px;
  height: 26px;
  display: flex;
  padding: 10px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 15px;
  justify-content: center;
  background-color: rgba(38, 195, 234, 1);
}
.visit-text06 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  flex-grow: 1;
  font-size: 14px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: center;
  font-family: Heebo;
  font-weight: 800;
  line-height: 107.87500143051147%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.visit-frame17 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
  z-index: 1;
}
.visit-frame15 {
  display: flex;
  padding: 10px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
}
.visit-line4 {
  width: 255px;
  height: 0px;
  position: relative;
  align-self: stretch;
}
.visit-frame6 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-end;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: center;
}
.visit-addvolunteer {
  width: 260px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
  justify-content: flex-end;
}
.visit-text08 {
  color: rgba(38, 195, 234, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: right;
  font-family: Heebo;
  font-weight: 700;
  line-height: 107.87500143051147%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.visit-volunteers {
  width: 260px;
  display: flex;
  padding: 10px 0;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: flex-end;
  flex-direction: column;
}
.visit-volunteer {
  width: 115px;
  height: 20px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.visit-rectangle2 {
  top: 0px;
  left: 0px;
  width: 114px;
  height: 20px;
  position: absolute;
  border-color: transparent;
}
.visit-text10 {
  top: 3px;
  left: 9px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: right;
  font-family: Heebo;
  font-weight: 500;
  line-height: 107.87500143051147%;
  font-stretch: normal;
  text-decoration: none;
}
.visit-removevolunteer {
  top: 0px;
  left: 102px;
  width: 13px;
  height: 13px;
  position: absolute;
}
.visit-frame16 {
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.visit-text12 {
  color: rgba(35, 67, 142, 1);
  height: auto;
  flex-grow: 1;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: right;
  font-family: Heebo;
  font-weight: 400;
  line-height: 107.87500143051147%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.visit-actions {
  height: 62px;
  display: flex;
  padding: 0 50px;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.visit-bottombar {
  display: flex;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  justify-content: space-between;
}
.visit-next {
  width: 29px;
  height: 29px;
  position: relative;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25) ;
}
.visit-upload1 {
  width: 46px;
  height: 46px;
  position: relative;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25) ;
}
.visit-prev {
  width: 29px;
  height: 29px;
  position: relative;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25) ;
}
