<div  (click)="this.showRemultUser($event)">
  <!-- <div class="top-left" (click)="this.showRemultUser($event)">
    {{ 'בס"ד' }}
  </div> -->
  <!-- <h1> {{ this.currentPhoto.name.split(' ')[0] }} <span> ({{ this.currentPhoto.created | date:'dd.MM.YYYY HH:mm' }}) </span> </h1> -->

  <!-- <div>
    <button *ngIf="!screenfull.isFullscreen" mat-flat-button (click)="toggleFullscreen()">
      <mat-icon>fullscreen</mat-icon>
    </button>
    <button *ngIf="screenfull.isFullscreen" mat-flat-button (click)="toggleFullscreen()">
      <mat-icon>fullscreen_exit</mat-icon>
    </button>
  </div> -->
  <!-- <span>{{ remult.user?.group }}</span> -->
  <router-outlet></router-outlet>
</div>