:host { 
  display: contents; 
}
.tenants-container {
  min-height: 100vh;
  background-image: url('/assets/bg.orange.png');
}
.tenants-tenants {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center; 
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  background-color: rgba(227, 172, 120, 1);
  background-image: url('/assets/bg.orange.png');
}
.tenants-top {
  display: flex;
  padding: 0 15px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
}
.tenants-cteen-logo {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}

.chabad-colel-logo {
  top: 0px;
  left: 15px;
  width: 50px;
  height: 30px;
  // rotate: 45;
  position: relative;
  // transform: rotate(-45deg);
}
.ahavat-eliyau-logo {
  top: 0px;
  left: 0px;
  width: 80px;
  height: 30px;
  position: relative;
  // transform: rotate(-45deg);
}


.chabad-get-chessed-logo {
  top: 0px;
  left: 80px;
  width: 50px;
  height: 50px;
  position: absolute;
}
.tenants-logo {
  width: 63.48833084106445px;
  height: 100.27965545654297px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.tenants-cteen {
  width: 63px;
  height: 89.90325164794922px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: -5px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.tenants-carea {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 67px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.tenants-cbg {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 67px;
  position: absolute;
}
.tenants-c {
  top: 7.59393310546875px;
  left: 10.354217529296875px;
  width: 39px;
  height: 54px;
  position: absolute;
}
.tenants-teenarea {
  top: 59.2852783203125px;
  left: 12.77813720703125px;
  width: 50.7101936340332px;
  height: 30.61797332763672px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.tenants-teenbg {
  top: 0px;
  left: 0px;
  width: 51px;
  height: 31px;
  position: absolute;
}
.tenants-teen {
  top: 6.6272125244140625px;
  left: 5.747833251953125px;
  width: 39.34962463378906px;
  height: 20.21885108947754px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.tenants-vector {
  top: 1.5709927082061768px;
  left: 0.0000010694303682612372px;
  width: 8px;
  height: 19px;
  position: absolute;
}
.tenants-vector01 {
  top: 3.201730728149414px;
  left: 6.565080165863037px;
  width: 11px;
  height: 16px;
  position: absolute;
}
.tenants-vector02 {
  top: 1.6084747314453125px;
  left: 17.249292373657227px;
  width: 11px;
  height: 16px;
  position: absolute;
}
.tenants-vector03 {
  top: -3.8355906895048975e-8px;
  left: 27.523208618164062px;
  width: 12px;
  height: 16px;
  position: absolute;
}
.tenants-amutaname {
  top: 6;
  width: 59.34217071533203px;
  height: 6.678433418273926px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: flex-end;
}
.tenants-frame3 {
  width: 20px;
  height: 7px;
  position: relative;
  margin-right: 2px;
}
.tenants-frame2 {
  width: 21px;
  height: 7px;
  position: relative;
  margin-right: 2px;
}
.tenants-frame1 {
  width: 15px;
  height: 6px;
  position: relative;
}
.tenants-userinfo {
  display: flex;
  position: relative;
  align-items: flex-end;
  border-color: transparent;
  flex-direction: column;
}
.tenants-text {
  color: rgba(35, 67, 142, 1);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Black;
  text-align: right;
  font-family: Heebo;
  font-weight: 900;
  line-height: 107.87500143051147%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 6px;
  text-decoration: none;
}
.tenants-location {
  display: flex;
  padding: 2px 4px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(227, 172, 120, 1);
}
.tenants-text02 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: right;
  font-family: Heebo;
  font-weight: 500;
  line-height: 107.87500143051147%;
  font-stretch: normal;
  margin-right: 6px;
  margin-bottom: 0;
  text-decoration: none;
}
.tenants-locationicon {
  width: 11px;
  height: 14px;
  position: relative;
}
.tenants-nav {
  display: flex;
  padding: 8px 10px;
  z-index: 1;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
  justify-content: center;
  background-color: rgba(38, 195, 234, 1);
}
.tenants-search {
  width: 26px;
  height: 22.999126434326172px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0px;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.tenants-vector04 {
  top: 0px;
  left: 0px;
  width: 19px;
  height: 18px;
  position: absolute;
}
.tenants-vector05 {
  top: 10px;
  left: 15.125179290771484px;
  width: 10px;
  height: 12px;
  position: absolute;
}
.tenants-vector05 {
  top: 10px;
  left: 15.125179290771484px;
  width: 10px;
  height: 12px;
  position: absolute;
}
.tenants-title {
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
  justify-content: center;
}
.tenants-text04 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: right;
  font-family: Heebo;
  font-weight: 700;
  line-height: 107.87500143051147%;
  font-stretch: normal;
  margin-right: 10px;
  margin-bottom: 0;
  text-decoration: none;
}
.tenants-text06 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Heebo;
  font-weight: 400;
  line-height: 107.87500143051147%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.tenants-back {
  width: 29px;
  height: 29px;
  position: relative;
}
.tenants-cards {
  display: flex;
  padding: 20px 50px;
  z-index: 2;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
  gap: 10px;
}

.visits-sep {
  width: 245px;
  height: 0px;
  position: relative;
  align-self: stretch;
  margin-bottom: 5px;
}

.visits-text10 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: right;
  font-family: Heebo;
  font-weight: 500;
  line-height: 107.87500143051147%;
  font-stretch: normal;
  margin-right: 6px;
  margin-bottom: 0;
  text-decoration: none;
}

.visits-address {
  display: flex;
  padding: 2px 5px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(227, 172, 120, 1);
}

.visits-location1 {
  width: 11px;
  height: 14px;
  position: relative;
}


.tenants-cardcontent {
  height: 120px;
  display: flex;
  padding: 10px;
  position: relative;
  align-self: stretch;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(38, 195, 234, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 15px;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
}
.tenants-cardtitle {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: flex-end;
}
.tenants-tenantnameaddress {
  // background-color: red;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-end;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 8px;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  text-align: start;
}
.tenants-text08 {
  color: rgba(38, 195, 234, 1);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: Bold;
  text-align: right;
  font-family: Heebo;
  font-weight: 700;
  line-height: 107.87500143051147%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 2px;
  text-decoration: none;
}
.tenants-group1 {
  width: 114px;
  height: 20px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(227, 172, 120, 1);
}
.tenants-location1 {
  top: 3px;
  left: 98px;
  width: 11px;
  height: 14px;
  position: absolute;
}
.tenants-text10 {
  top: 3px;
  left: 5px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: right;
  font-family: Heebo;
  font-weight: 500;
  line-height: 107.87500143051147%;
  font-stretch: normal;
  text-decoration: none;
}
.tenants-tenantphoto {
  width: 50px;
  height: 55px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.import-upload {
    width: 32px;
    height: 32px;
    position: relative;
}
.tenants-vector010 {
  // top: 10px;
  // left: 35px;
  width: 32px;
  height: 32px;
  position: relative;
  // background-color: red;
}

.tenants-vector06 {
  top: 0px;
  left: 0px;
  width: 47px;
  height: 47px;
  position: absolute;
}
.tenants-upload {
  top: 30px;
  left: 30px;
  width: 30px;
  height: 30px;
  position: absolute;
}
.tenants-group {
  top: 13px;
  left: 12px;
  width: 38px;
  height: 42px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.tenants-vector07 {
  top: 0px;
  left: 0px;
  width: 25px;
  height: 9px;
  position: absolute;
}
.tenants-vector08 {
  top: 10.860291481018066px;
  left: 0.5303184390068054px;
  width: 24px;
  height: 11px;
  position: absolute;
}
.tenants-vector09 {
  top: 11.075312614440918px;
  left: 9.417405128479004px;
  width: 6px;
  height: 6px;
  position: absolute;
}
.tenants-sep {
  width: 255px;
  height: 0px;
  position: relative;
  align-self: stretch;
}
.tenants-volunteersbirthday {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-end;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.tenants-text12 {
  color: rgba(38, 195, 234, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Bold;
  text-align: right;
  font-family: Heebo;
  font-weight: 700;
  line-height: 107.87500143051147%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 5px;
  text-decoration: none;
}
.tenants-text14 {
  color: rgba(38, 195, 234, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: right;
  font-family: Heebo;
  font-weight: 400;
  line-height: 107.87500143051147%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.tenants-text14-remark {
  color: rgb(234, 120, 38);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: right;
  font-family: Heebo;
  font-weight: 800;
  font-style: italic;
  line-height: 107.87500143051147%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.tenants-goremmafneactions {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.tenants-actions {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
}
.tenants-delete {
  width: 36;
  height: 36;
  position: relative;
  margin-right: 5px;
}
.tenants-edit {
  width: 36;
  height: 36;
  position: relative;
  margin-right: 5px;
}
.tenants-photo {
  width: 36;
  height: 36;
  position: relative;
}
.tenants-text16 {
  color: rgba(35, 67, 142, 1);
  height: auto;
  flex-grow: 1;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: right;
  font-family: Heebo;
  font-weight: 700;
  line-height: 107.87500143051147%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.tenants-text17 {
  font-weight: 700;
}
.tenants-addtenant {
  bottom: 20px;
  left: 110px;
  width: 151px;
  height: 52px;
  display: flex;
  padding: 0;
  z-index: 3;
  position: fixed;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.tenants-rectangle1 {
  top: 0px;
  left: 0px;
  width: 151px;
  height: 52px;
  position: absolute;
}
.tenants-text19 {
  top: 16px;
  left: 15px;
  color: rgba(255, 255, 255, 1);
  width: 120px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: center;
  font-family: Heebo;
  font-weight: 800;
  line-height: 107.87500143051147%;
  font-stretch: normal;
  text-decoration: none;
}
