<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%;"
    [style.backgroundColor]="this.invert? 'rgba(38, 195, 234, 1)':'rgba(255, 255, 255, 1)'">
    <!-- rgba(255, 255, 255, 1);':'rgba(38, 195, 234, 1); -->

    <div dir="rtl" style="display: flex; flex-direction: row; opacity: 0.25; justify-content: space-between; width: 95%;
    position: absolute; top: 0px; left: calc(50% - width/2);">
        <!-- <div>
            <span [style.color]="this.invert? 'rgba(255, 255, 255, 1)':'rgba(35, 67, 142, 1)'"
                style="font-family: monospace;">
                {{ 'בס"ד' }}</span>
        </div> -->
        <!-- <div>
            <span [style.color]="this.invert? 'rgba(255, 255, 255, 1)':'rgba(35, 67, 142, 1)'"
                style="font-style: italic; font-family: monospace;">
                {{ 'כולל תפארת זקנים לוי יצחק' }}</span>
        </div> -->
        <!-- <div>
            <span [style.color]="this.invert? 'rgba(255, 255, 255, 1)':'rgba(35, 67, 142, 1)'"
                style="font-family: monospace;">
                {{ today }}</span>
        </div> -->
    </div>
    <!-- <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; font-size: smaller;">
        <span>{{ 'כולל תפארת זקנים לוי יצחק' }}</span>
    </div> -->

    <!-- <hr width="100%"> -->
    <div *ngIf="remult.authenticated()"
        style="display: flex; flex-direction: row; justify-content: space-between; width: 100%; direction: rtl;">
        <!-- <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
        <mat-icon (click)="this.nextDay()" style="color: blue;">add</mat-icon>
        <data-control *ngIf="this?.$" [field]="this.$.selectedDate" style="color: blue; font-size: large; direction: ltr;"></data-control>
        <mat-icon (click)="this.prevDay()" style="color: blue;">remove</mat-icon>
    </div> -->

        <div class="menu-userinfo">
            <span class="menu-text" id="userNameWidth"
                [style.color]="this.invert? 'rgba(255, 255, 255, 1)':'rgba(35, 67, 142, 1)'"><span>{{ remult.user?.name
                    }}</span></span>
            <div class="menu-location">
                <img src="/assets/playground_assets/locationicon4431-mwai.svg" alt="locationicon4431"
                    class="menu-locationicon" />
                <span class="menu-text02"><span>{{ remult.user?.isAdmin ?'' :remult.user?.isDonor ?'' :'ראש כולל' }} {{
                        remult.user?.branchName?.replace('כולל','') }}</span></span>
            </div>
            <div>
                <span [style.color]="this.invert? 'rgba(255, 255, 255, 1)':'rgba(35, 67, 142, 1)'"
                    style="font-style: italic; font-family: monospace; font-size: small;">
                    {{ 'תפארת זקנים לוי יצחק' }}</span>
            </div>
        </div>
        
        <!-- <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; font-size: smaller;">
            <span>{{ 'כולל תפארת זקנים' }}</span>
            <span>{{ 'לוי יצחק' }}</span>
        </div> -->

        <div class="menu-userinfo">
            <img src="/assets/Logo Colel Chabad.png" style="width: 100px; height: 60px;" (click)="this.rootmenu()" />
        </div>

        <!-- <img src="/assets/playground_assets/chabadLogo.svg" alt="Frame14430" class="chabad-get-chessed-logo" /> -->
        <!-- <mat-radio-button [disabled]="readonly" (change)="this.onGroupChanged(BranchGroup.avrach)"
        [checked]="this.selected === BranchGroup.avrach">&nbsp;אברכים</mat-radio-button> -->
        <!-- <mat-radio-button [disabled]="readonly" (change)="this.onGroupChanged(BranchGroup.tenant)" [checked]="this.selected === BranchGroup.tenant">&nbsp;דיירים</mat-radio-button> -->
        <!-- <mat-radio-button (change)="this.onGroupChanged(BranchGroup.all)" [checked]="this.selected === BranchGroup.all">&nbsp;נוער + קמפוס</mat-radio-button> -->
    </div>
    <!-- && !remult.user?.isManager -->
</div>