<div class="visits-container">
  <div class="visits-visits">

    <div class="visits-nav">

      <div class="visits-search" (click)="this.search()">
        <img src="/assets/playground_assets/vector1915-5neih.svg" alt="Vector1915" class="visits-vector04" />
        <img src="/assets/playground_assets/vector1915-r5bg.svg" alt="Vector1915" class="visits-vector05" />
      </div>

      <div style="display: flex; flex-direction: column; width: 100%;">
        <div class="visits-title">
          <span class="visits-text04"><span>נוכחות</span></span>
          <span class="visits-text06"><span>דיווחי</span></span>
        </div>

        <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
          <mat-icon (click)="this.nextDay()" style="color: blue; padding-left: 35px;">arrow_left</mat-icon>
          <data-control [field]="this.$.selectedDate" style="color: blue; font-size: large;"></data-control>
          <mat-icon (click)="this.prevDay()" style="color: blue; padding-right: 15px;">arrow_right</mat-icon>
        </div>

        <div style="display: flex; flex-direction: row; justify-content: center; margin-top: -14px; ">
          <!-- <span>{{ this.diffDaysFromToday? (this.diffDaysFromToday < 0? 'לפני ' : 'בעוד ' ) + this.diffDaysFromToday
              + ' ימים' : 'היום' }}</span> -->
            <span style="text-align: center; color: white;" (click)="this.gotoToday()">{{ this.diffDaysFromToday < 0 ? 'לפני ' + Math.abs(diffDaysFromToday) +  ' ימים'  : this.diffDaysFromToday > 0 ? 'בעוד ' + Math.abs(diffDaysFromToday) +  ' ימים' : 'היום' }}</span>

            </div>

        <div *ngIf="this.locked"
          style="display: flex; flex-direction: row; justify-content: center; align-items: center; background-color: lightyellow; text-align: center; border-radius: 15px; margin: 7px;">
          <div style="display: flex; flex-direction: column;">
            <div style="display: flex; flex-direction: row; justify-content: center;">
              <mat-label style="font-weight: bold; color: red;">נעול לקריאה בלבד</mat-label>
              <mat-icon style="color: red;">lock</mat-icon>
            </div>
            <mat-label style="cursor: pointer; color: blue; text-decoration: underline; font-weight: bold;"
              (click)="this.uploadImage()">לא הועלתה תמונה מתחילת שבוע שעבר</mat-label>
            <mat-label style="cursor: pointer; color: blue; text-decoration: underline; font-weight: bold;"
              (click)="this.uploadImage()">להעלות תמונה ליום שבחרת יש ללחוץ כאן</mat-label>
          </div>
        </div>

      </div>

      <img (click)="this.back()" src="/assets/playground_assets/back1915-xq3i.svg" alt="back1915" class="visits-back" />

    </div>

    <div class="visits-cards">

      <div class="visits-cardcontent" *ngFor="let v of this.visits" (click)="this.edit(v.id)"
        [style.borderColor]="this.isNone(v)?  'rgba(227, 172, 120, 1)':'green'"
        [style.borderWidth]="this.isNone(v)?  '2px':'7px'">
        <div class="visits-cardtitle">
          <div *ngIf="v.tenant" class="visits-tenantnameaddress">
            <div style="display: flex;">
              <span class="visits-text08"><span>{{ v.tenant.name }}</span></span>
              <!-- <img [src]="this.isVisited(v)?'/assets/validated.svg':'/assets/unValidated.svg'" style="width: 15px; height: 15px;" /> -->
              <img *ngIf="this.isVisited(v)" src="/assets/validated.svg" style="width: 15px; height: 15px;" />
              <img *ngIf="this.isDelivered(v)" src="/assets/playground_assets/late.png"
                style="width: 15px; height: 15px;" />
            </div>
            <div *ngIf="v.tenant.address" class="visits-address">
              <span class="visits-text10"><span>{{ v.tenant.address }}</span></span>
              <img src="/assets/playground_assets/location1915-msq3.svg" alt="location1915" class="visits-location1" />
            </div>
            <div *ngIf="v.tenant.mobile" class="visits-address">
              <span class="visits-text10"><span>{{ v.tenant.mobile }}</span></span>
              <img style="cursor: pointer;" (click)="this.call($event, v.tenant.mobile)"
                src="/assets/playground_assets/call.svg" alt="location1915" class="visits-location1" />
            </div>
            <div *ngIf="v.tenant.phone" class="visits-address">
              <span class="visits-text10"><span>{{ v.tenant.phone }}</span></span>
              <img style="cursor: pointer;" (click)="this.call($event, v.tenant.phone)"
                src="/assets/playground_assets/call.svg" alt="location1915" class="visits-location1" />
            </div>
          </div>
          <div class="visits-tenantphoto">
            <img src="/assets/playground_assets/vector1915-0vb.svg" alt="Vector1915" class="visits-vector06" />
            <div class="visits-group">
              <img src="/assets/playground_assets/vector1915-19zi.svg" alt="Vector1915" class="visits-vector07" />
              <img src="/assets/playground_assets/vector1915-lp2n.svg" alt="Vector1915" class="visits-vector08" />
              <img src="/assets/playground_assets/vector1915-og6.svg" alt="Vector1915" class="visits-vector09" />
              <img hidden src="/assets/playground_assets/upload1915-d0nh.svg" alt="upload1915" class="visits-upload" />
            </div>
          </div>
        </div>
        <img *ngIf="v.remark?.trim()!.length" src="/assets/playground_assets/sep1915-grj.svg" alt="sep1915"
          class="visits-sep" />
        <span *ngIf="v.remark?.trim()!.length" class="visits-text15"><span>הערה: </span>{{ v.remark }}</span>
      </div>
    </div>

    <div class="menu-frame27" (click)="this.finished()">
      <div class="menu-exit">
        <span class="menu-text13"><span>סיימתי לדווח</span></span>
      </div>
    </div>
  </div>

</div>