<div class="visits-container">
  <div class="visits-visits">

    <div class="visits-nav">

      <div *ngIf="this.visits.length" style="display: flex; flex-direction: column; justify-content: space-between;">
        <div class="visits-search" (click)="this.search()">
          <img src="/assets/playground_assets/vector1915-5neih.svg" alt="Vector1915" class="visits-vector04" />
          <img src="/assets/playground_assets/vector1915-r5bg.svg" alt="Vector1915" class="visits-vector05" />
        </div>
        <div *ngIf="!this.uploading" class="visits-search">
          <label for="uploadImage">
            <mat-icon for="uploadImage" style="color: white;">photo_camera</mat-icon>
          </label>
          <input hidden excludeAcceptAllOption=true #fileInput type="file" (input)="onFileInput($event, 'profile')"
            accept="audio/mp3,video/mp4,video/avi,image/png,image/jpg,image/jpeg" id="uploadImage"
            style="display:none" />
        </div>
      </div>

      <div style="display: flex; flex-direction: column; width: 100%;">
        <div class="visits-title">
          <span class="visits-text04"><span>נוכחות</span></span>
          <span class="visits-text06"><span>דיווחי</span></span>
        </div>

        <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
          <mat-icon (click)="this.nextDay()" style="color: blue; padding-left: 35px;">arrow_left</mat-icon>
          <data-control [field]="this.$.selectedDate" style="color: blue; font-size: large;"></data-control>
          <mat-icon (click)="this.prevDay()" style="color: blue; padding-right: 15px;">arrow_right</mat-icon>
        </div>

        <div style="display: flex; flex-direction: row; justify-content: center; margin-top: -14px; ">
          <span style="text-align: center; color: white;" (click)="this.gotoToday()">{{ this.diffDaysFromToday < 0
              ? 'לפני ' + Math.abs(diffDaysFromToday) + ' ימים' : this.diffDaysFromToday> 0 ? 'בעוד ' +
              Math.abs(diffDaysFromToday) + ' ימים' : 'היום' }}</span>

        </div>

        <div *ngIf="this.locked" style="display: flex; flex-direction: row; justify-content: center; align-items: center; 
          background-color: lightyellow; text-align: center; border-radius: 15px; margin: 7px;">

          <div style="display: flex; flex-direction: column;">

            <div style="display: flex; flex-direction: row; justify-content: center; align-items: end;">
              <mat-label style="font-weight: bold; color: red;">לא ניתן לדווח</mat-label>
              <mat-icon style="color: red;">lock</mat-icon>
            </div>

            <mat-label style="font-weight: bold; color: red;">לא הועלתה תמונה מתחילת שבוע שעבר</mat-label>
            <mat-label style="font-weight: bold; color: red;">יש להעלות תמונה באחד הימים מהשבוע שעבר</mat-label>

            <!-- <label style="cursor: pointer; color: blue; text-decoration: underline; font-weight: bold;"
              for="uploadImage">יש להעלות תמונה באחד הימים מהשבוע שעבר</label> -->

          </div>

        </div>

      </div>

      <img (click)="this.back()" src="/assets/playground_assets/back1915-xq3i.svg" alt="back1915" class="visits-back" />

    </div>

    <div class="visits-cards">

      <div class="visits-cardtitle-totals">
        <div *ngIf="(this.totalCount())">
          <span *ngIf="!(this.presentsCount()&&(this.presentsCount() === this.totalCount()))"
            class="visits-text09">דווחו:
            <span [style.font-size]="this.presentsCount()?'x-large':''">{{ this.presentsCount() }}</span> מתוך
            <span [style.font-size]="this.totalCount()?'x-large':''">{{ this.totalCount() }}</span> אברכים</span>
          <span *ngIf="(this.presentsCount()&&(this.presentsCount() === this.totalCount()))" class="visits-text09"
            style="font-size: x-large;">כל {{ this.totalCount()}} האברכים דווחו</span>
        </div>
        <span *ngIf="(!this.totalCount())" class="visits-text09" style="font-size: large;"> {{ 'אין רשומות דיווח לתאריך
          זה' }} </span>
      </div>

      <div class="visits-cardcontent" *ngFor="let v of this.visits"
        [style.borderColor]="this.isNone(v)?  'rgba(227, 172, 120, 1)':'green'"
        [style.borderWidth]="this.isNone(v)?  '2px':'7px'">
        <div class="visits-cardtitle" (click)="this.edit(v.id)">
          <div *ngIf="v.tenant" class="visits-tenantnameaddress">
            <div style="display: flex;">
              <span class="visits-text08"><span>{{ v.tenant.name }}</span></span>
              <!-- <img [src]="this.isVisited(v)?'/assets/validated.svg':'/assets/unValidated.svg'" style="width: 15px; height: 15px;" /> -->
              <img *ngIf="this.isVisited(v)" src="/assets/validated.svg" style="width: 15px; height: 15px;" />
              <img *ngIf="this.isDelayed(v)" src="/assets/playground_assets/late.png"
                style="width: 15px; height: 15px;" />
            </div>
            <div>
              <!-- <span>נוכח {{ '0' }} מתוך {{ '2' }} שיעורים החודש </span> -->
            </div>
            <div *ngIf="v.tenant.address" class="visits-address">
              <span class="visits-text10"><span>{{ v.tenant.address }}</span></span>
              <img src="/assets/playground_assets/location1915-msq3.svg" alt="location1915" class="visits-location1" />
            </div>
            <div *ngIf="v.tenant.mobile" class="visits-address">
              <span class="visits-text10"><span>{{ v.tenant.mobile }}</span></span>
              <img style="cursor: pointer;" (click)="this.call($event, v.tenant.mobile)"
                src="/assets/playground_assets/call.svg" alt="location1915" class="visits-location1" />
            </div>
            <div *ngIf="v.tenant.phone" class="visits-address">
              <span class="visits-text10"><span>{{ v.tenant.phone }}</span></span>
              <img style="cursor: pointer;" (click)="this.call($event, v.tenant.phone)"
                src="/assets/playground_assets/call.svg" alt="location1915" class="visits-location1" />
            </div>
          </div>
          <div class="visits-tenantphoto">
            <img src="/assets/playground_assets/vector1915-0vb.svg" alt="Vector1915" class="visits-vector06" />
            <div class="visits-group">
              <img src="/assets/playground_assets/vector1915-19zi.svg" alt="Vector1915" class="visits-vector07" />
              <img src="/assets/playground_assets/vector1915-lp2n.svg" alt="Vector1915" class="visits-vector08" />
              <img src="/assets/playground_assets/vector1915-og6.svg" alt="Vector1915" class="visits-vector09" />
              <img hidden src="/assets/playground_assets/upload1915-d0nh.svg" alt="upload1915" class="visits-upload" />
            </div>
          </div>
        </div>
        <div class="visits-cardaction">
          <button mat-raised-button (click)="this.visited(v)"
            [style.background-color]="this.isVisited(v)? 'rgba(38, 195, 234, 1)' : 'transparent'">
            <mat-label>נוכח</mat-label>
            <img src="/assets/validated.svg" style="width: 20px; height: 20px;" />
            <!-- <mat-icon></mat-icon> -->
          </button>
          <button mat-raised-button (click)="this.delivered(v)"
            [style.backgroundColor]="this.isDelayed(v)? 'rgba(38, 195, 234, 1)' : 'transparent'">
            <mat-label>איחר</mat-label>
            <img src="/assets/playground_assets/late.png" style="width: 20px; height: 20px;" />
            <!-- <mat-icon></mat-icon> -->
          </button>
        </div>
        <img *ngIf="v.remark?.trim()!.length" src="/assets/playground_assets/sep1915-grj.svg" alt="sep1915"
          class="visits-sep" />
        <span *ngIf="v.remark?.trim()!.length" class="visits-text15"><span>הערה: </span>{{ v.remark }}</span>
      </div>
    </div>

    <div *ngIf="this.visits.length" class="menu-frame27" (click)="this.finished()">
      <div class="menu-exit">
        <span class="menu-text13"><span>סיימתי לדווח</span></span>
      </div>
    </div>
  </div>

</div>