<div class="frame1-container">
    <div> 
      <img src="/assets/logo.ahavat.eliyau.svg" alt="Frame14430" class="chabad-colel-logo" />
    </div>

  <div class="frame1-frame1">
    
    <img
      alt="BlueBack15"
      src="/assets/playground_assets/brownback-400w.png"
      class="frame1-blue-back"
    />
    <!-- <img
      alt="GetPattern134"
      src="/assets/playground_assets/getpattern134-jw8dn-400w.png"
      class="frame1-get-pattern"
    /> -->
    <!-- down -->
    <img
      alt="Rectangle41215"
      src="/assets/playground_assets/bluedown-200h.png"
      class="frame1-rectangle4"
    />
    <img
      alt="Speak120"
      src="/assets/playground_assets/speak120-sdd8.svg"
      class="frame1-speak"
    /> 
    <img
      alt="Arrow122"
      src="/assets/playground_assets/arrow122-c7e7.svg"
      class="frame1-arrow"
    />
    <span class="frame1-text">
      <span class="frame1-text01">
        <span>הגעת</span>
        <br />
        <span></span>
      </span> 
      <span class="frame1-text02"><span>?ללמוד בכולל</span></span>
    </span>
    <span class="frame1-text06"><span>מספר נייד</span></span>
    <input [(ngModel)]="this.signer.mobile" data-mask="000-000-0000" class="frame1-text10" type="text" maxlength="10" placeholder="000-000-0000" (keypress)="isNumberKey($event);" />
    <img
      alt="Line11119"
      src="/assets/playground_assets/line11119-tyi7.svg"
      class="frame1-line1"
    />
    <img
      alt="GetChessedLogo189"
      src="/assets/Logo Colel Chabad.png"
      class="frame1-chabad-colel-logo"
    />
    <div class="frame1-group2">
      <img
        alt="Rectangle11122"
        src="/assets/playground_assets/redbutton-22d.svg"
        class="frame1-rectangle1"
      />
      <button class="button-login" (click)="signIn()">!אני מוכן ללמוד</button>
    </div>
    <!-- <img
      alt="IMAGE11211"
      src="/assets/playground_assets/image11211-hf3-200w.png"
      class="frame1-i-m-a-g-e1"
    /> -->
  </div>
</div>
